.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: fit-content;
  padding: 8px 8px;
  margin: 5px;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.btn:hover {
  background: #1d288a;
  transition: 0.2s;
}
